* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    /* --bg-color: #1f242d; */
    /* --bg-color: #00005c; */
    --bg-color: #000000;
    /* --second-bg-color: #323946; */
    --second-bg-color: #1a1a1a;
    --text-color: #fff;
    --secondary-text-color: #1DB954;
    /* --main-color: #0ef; */
    --main-color: #3dec9a;
    /* --main-color-2: #bf00ff; */
    --main-color-2: #1a1a1a;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    /* display: flex; */
    justify-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.pf {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 600;
    /* cursor: default; */
}

.navbar a {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-left: 4rem;
    transition: 0.3s linear;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
}

#menu {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 30vw;
    border-radius: 25px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    min-width: 50vw;
    width: 55vw;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}





.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

.nps {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.now-playing-section{
    color:#fff;
    margin-top: 5rem;
    width: auto;
}

.stop {
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: small;
    font-weight: 500;
    margin: 0;
    line-height: 0;
}

.spotify {
    width: 50%;
    margin: 3rem 1.5rem 3rem 0;
    border: 1px solid var(--main-color);
    padding: 2rem 2.8rem;
    border-radius: 0.4rem;
    border-left: 5rem solid var(--main-color);
    font-size: 1.6rem;
}

.spotify-card {
    width: 64%;
    margin: 3rem 1.5rem 3rem 0;
    padding: 2rem 2.8rem;
    border-radius: 1.5rem;
    /* font-size: 1.6rem; */
    background-color: var(--second-bg-color);
    border: 1px solid #272727;
}

.now-playing-card {
    display:flex;
    align-items:center;
    gap:16px;
    padding:8px;border-radius:12px;
    border:1px solid #222;
    max-width:500px;
}

.np-card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.np-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
}

.np-right-content {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.listen-btn {
    background: none;
    border: none;
    color: #eef0ee;
    font-weight: 200;
    outline: none;
    cursor: pointer;
}

.np-spotify-icon {
  width: 18px;
  height: 18px;
  fill: #eef0ee;
  flex-shrink: 0;
}

.np-eq {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 120px;
    height: 40px;
}

/* each bar */
.np-eq span {
    flex: 1;
    height: 100%;
    border-radius: 999px;
    background: #1ed760;
    box-shadow: 0 0 6px rgba(30, 215, 96, 0.7);
    animation: np-eq 0.6s infinite ease-in-out;
    transform-origin: bottom;
    display: block;
}

.np-eq.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.np-eq.is-hidden span {
    animation: none;
    transform: scaleY(0.2);
}

/* slightly different timing for each bar */
.np-eq span:nth-child(1) {
    animation-delay: 0s;
}

.np-eq span:nth-child(2) {
    animation-delay: 0.12s;
}

.np-eq span:nth-child(3) {
    animation-delay: 0.24s;
}

.np-eq span:nth-child(4) {
    animation-delay: 0.36s;
}

.np-eq span:nth-child(5) {
    animation-delay: 0.18s;
}

.np-eq span:nth-child(6) {
    animation-delay: 0.36s;
}

.np-eq span:nth-child(7) {
    animation-delay: 0.24s;
}

.np-eq span:nth-child(8) {
    animation-delay: 0.12s;
}

@keyframes np-eq {
    0% {
        transform: scaleY(0.3);
    }

    25% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(0.4);
    }

    75% {
        transform: scaleY(0.9);
    }

    100% {
        transform: scaleY(0.3);
    }
}

.hidden {
  display: none !important;
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}

.about-img img {
    width: 20vw;
    border-radius: 20px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.accomplishments h2 {
    margin-bottom: 5rem;
}

.acmp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.accomplishments {
    display: block;
}

.acmp-container .acmp-box {
    flex: 1 1 30rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    min-height: 33rem;
}

.acmp-box-container {
    flex: 1 1 30rem;
}

.acmp-text {
    text-align: start;
}

.acmp-container .acmp-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.acmp-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.acmp-box h3 {
    font-size: 2.6rem;
}

.acmp-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio {
    display: block;
    background-color: var(--second-bg-color);
}

.portfolio-box img {
    width: 25vw;
    height: 65vh;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5.5rem;

}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}



.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 92, 0.3), var(--main-color-2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2.5rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: 3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.contact-img {
  width: 300px;
  max-width: 100%;
  animation: float 4s ease-in-out infinite;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.contact {
  text-align: center;
  padding: 4rem 1rem;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.contact-icons a {
  font-size: 12.5rem;
  color: var(--text-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icons a:hover {
  color: var(--main-color);
  transform: scale(1.2);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
    /* cursor: pointer; */
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

#about-details {
    display: none;
}

#about-details.visible {
    display: block;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .accomplishments {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 60vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 60vw;
        margin-top: 4rem;
    }

    .accomplishments h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-content {
        width: auto;
    }

    .home-img img {
        width: 80vw;
    }

    .now-playing-card {
        width: min-content;
    }

    .about-img img {
        width: 80vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}